# Python / Core
books_data/index/
books_data/new_content/*.bin
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.vscode/
.idea/
embeddings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.log
frontend/*.local
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

books_data/